.converterContainer{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}
.introContainer{
    width: 100%;
}
.selectContainer{
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.convertedAmount{
    width: 45%;
    height: 4rem;
    background-color: rgb(219, 219, 219);
}