body{
  margin: 0;
  padding: 0;
  background-image: url('../src/assets/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.generalContainer{
  padding: 0 20rem;
  height: 100vh;
  display: flex;
  gap: 2rem;
  flex-direction: column;
}